* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fjalla One", sans-serif;
}

/* .text-nav,
.link-nav,
.logo-nav {
  display: flex;
}
.text-nav {
  width: 100%;
  height: 40px;
  justify-content: space-evenly;
  font-size: 20px;
  position: absolute;
  color: #f0f1fa;
  z-index: 5;
  top: 0;
  margin-top: 28px;
}
.text-nav ul {
  list-style: none;
}
.link-nav li,
.logo-nav li {
  margin-left: 40px;
}

.navbar img {
  position: relative;
} */

body {
  background: #191919;
  height: 100vh;
  width: 100%;
}
a {
  text-decoration: none;
  color: #85a6a5;
}
a:hover {
  color: #687f85;
}
.githubrepo {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  color: #7d7e75;
  justify-content: center;
  align-items: center;
}
.newrepoDiv {
  text-align: center;
  margin-top: 35px;
  background: white;
  width: 25%;
}

.title-project h1 {
  color: #4f5960;
  text-align: center;
  margin-top: 50px;
}

.newrepoDiv a {
  display: block;
  margin-top: 5px;
}
.newRepo {
  font-size: 35px;
}

.newDesc {
  font-size: 20px;
  text-decoration: none;
  color: black;
}

.newDesc:hover {
  color: black;
}
